# Flutter/Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Android
.gradle/
local.properties
*.apk
*.aab

# IDEs
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db
